*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: #1e3c72;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}

/* 首页样式 */
.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: #fff;
}

.form {
  position: relative;
  width: 70vw;
  height: 100%;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  padding: 200px 30px 0;
}

/* 表单中的标题，文字等样式 */
h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 30vw;
  margin: 25px auto 0;
  text-align: center;
}

label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
}

.sub-container {
  overflow: hidden;
  position: absolute;
  left: 70vw;
  top: 0;
  width: 100vw;
  height: 100%;
  padding-left: 30vw;
  background: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

/* 点击切换的类 */
.container.switch--signup .sub-container {
  -webkit-transform: translate3d(-70vw, 0, 0);
          transform: translate3d(-70vw, 0, 0);
}

button {
  display: block;
  margin: 0 auto;
  width: 30vw;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* 待切换的侧边栏 */
.aside {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 30vw;
  height: 100%;
  padding-top: 360px;
}

.aside:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background-image: url("http://7xss68.com1.z0.glb.clouddn.com/pexels-photo.jpg");
  background-size: cover;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.aside:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.container.switch--signup .aside:before {
  -webkit-transform: translate3d(70vw, 0, 0);
          transform: translate3d(70vw, 0, 0);
}

.aside__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 200px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.aside__text h2 {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: normal;
}
.aside__text p {
  font-size: 1em;
  line-height: 1.5;
}

.container.switch--signup .aside__text.aside--signup {
  -webkit-transform: translateX(520px);
          transform: translateX(520px);
}

.aside__text.aside--signin {
  -webkit-transform: translateX(-520px);
          transform: translateX(-520px);
}

.container.switch--signup .aside__text.aside--signin {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.aside__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

/* 为按钮加上border样式 */
.aside__btn:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}

.aside__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.aside__btn span.aside--signin {
  -webkit-transform: translateY(-72px);
          transform: translateY(-72px);
}
.container.switch--signup .aside__btn span.aside--signin {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.container.switch--signup .aside__btn span.aside--signup {
  -webkit-transform: translateY(72px);
          transform: translateY(72px);
}

.sign-in {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.container.switch--signup .sign-in {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transform: translate3d(70vw, 0, 0);
          transform: translate3d(70vw, 0, 0);
}

.sign-up {
  -webkit-transform: translate3d(-100vw, 0, 0);
          transform: translate3d(-100vw, 0, 0);
}

.container.switch--signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}